<div class='component-content'>
        <div class='lefthalf'>
          <span class='component-title'>[{{title}}] </span>
          <span><a routerLink='/request/list'>Back to list</a></span>
          <!-- <span *ngIf='loggedInUser.admin'><a routerLink='/request/create'> -->
          
        </div>
      </div>
      <p *ngIf='!requests'>All Requests Reviewed</p>
      <table class="table table-sm" *ngIf='requests'>
        <tr>
          <th class='table-secondary'></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('description')"><u>Description</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('deliveryMode')"><u>Delivery Method</u></a></th>
              <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
                  (click)="sortBy('total')"><u>Total</u></a></th>
                  <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
                      (click)="sortBy('request.user.name')"><u>User</u></a></th>
                  <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
                      (click)="sortBy('request.dateRequested')"><u>Date Submitted</u></a></th>
                  
                  <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
                      (click)="sortBy('request.status')"><u>Status</u></a></th>
                  
          <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
        </tr>
        <tr  *ngFor='let request of requests | sort:sortCriteria:sortOrder'>
          <td></td>
          <td>{{request.description}}</td>
          <td>{{request.deliveryMode}}</td>
          <td>{{request.total | currency}}</td>
          <td>{{request.user.firstname}} {{request.user.lastname}}</td>
          <td>{{request.dateRequested}}</td>
          <td>{{request.status}}</td>
          <td class='actions' >
            <a routerLink='/request/detail/{{request.id}}' style='padding-left: 16px' class='actionIcon'><img
                src='assets/details.png' width='20' height='20' title='Detail'></a>
            <!-- <a *ngIf='loggedInUser.admin' routerLink='/request/edit/{{request.id}}' class='actionIcon'><img -->
            <a routerLink='/request/edit/{{request.id}}' class='actionIcon'><img
                src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
            <a routerLink='/review/approve/{{request.id}}' class='actionIcon'><img
                src='assets/lines.png' width='20' height='20' title='Lines'></a>
          </td>
        </tr>
      </table>
      

